---
layout: default
title: All Terms – Online
permalink: /all-online.html
js: app.js

semester:
modality: online
track:
---

{% include top_controls.html %}

<div class="container-fluid" style="height: 70vh;">
    <div class="row row-cols-1 row-cols-md-4 h-100 align-items-stretch">
        {% assign core_ao = site.data.courses.core   | where: "modality", "Online" %}
        {% assign it_ao   = site.data.courses.it_electives | where: "modality", "Online" %}
        {% assign non_ao  = site.data.courses.non_it_electives | where: "modality", "Online" %}
        {% assign cap_ao  = site.data.courses.capstone | where: "modality", "Online" %}

        {% include course_column.html heading="Core Courses" courses=core_ao %}
        {% include course_column.html heading="IT Electives" courses=it_ao %}
        {% include course_column.html heading="Non-IT Electives" courses=non_ao %}
        {% include course_column.html heading="Capstone/Thesis" courses=cap_ao %}
    </div>
</div>
