---
layout: default
title: Fall Cybersecurity Courses
permalink: /fall-cybersecurity.html
js: app.js

semester: fall
modality:
track: cybersecurity
---

{% include top_controls.html %}

<div class="container-fluid" style="height: 70vh;">
    <div class="row row-cols-1 row-cols-md-4 h-100 align-items-stretch">
        {% assign core_fc = site.data.courses.core | where: "semesters","Fall" %}
        {% assign it_fc = site.data.courses.it_electives | where: "semesters","Fall" | where: "track","Cybersecurity" %}
        {% assign non_it_fc = site.data.courses.non_it_electives | where: "semesters","Fall" | where: "track","Cybersecurity" %}
        {% assign capstone_fc = site.data.courses.capstone | where: "semesters","Fall" %}

        {% include course_column.html heading="Core Courses" courses=core_fc %}
        {% include course_column.html heading="Faculty-Approved IT Electives" courses=it_fc %}
        {% include course_column.html heading="Faculty-Approved Non-IT Electives" courses=non_it_fc %}
        {% include course_column.html heading="Capstone/Thesis" courses=capstone_fc %}
    </div>
</div>
