---
layout: default
title: Fall Online Cybersecurity
permalink: /fall-online-cybersecurity.html

semester: fall
modality: online
track: cybersecurity
---

{% include top_controls.html %}

<div class="container-fluid" style="height: 70vh;">
    <div class="row row-cols-1 row-cols-md-4 h-100 align-items-stretch">
        {% assign core_foc = site.data.courses.core | where: "semesters","Fall" | where: "modality","Online" %}
        {% assign it_foc = site.data.courses.it_electives | where: "semesters","Fall" | where: "modality","Online" | where: "track","Cybersecurity" %}
        {% assign non_it_foc = site.data.courses.non_it_electives | where: "semesters","Fall" | where: "modality","Online" | where: "track","Cybersecurity" %}
        {% assign capstone_foc = site.data.courses.capstone | where: "semesters","Fall" | where: "modality","Online" %}

        {% include course_column.html heading="Core Courses" courses=core_foc %}
        {% include course_column.html heading="Faculty-Approved IT Electives" courses=it_foc %}
        {% include course_column.html heading="Faculty-Approved Non-IT Electives" courses=non_it_foc %}
        {% include course_column.html heading="Capstone/Thesis" courses=capstone_foc %}
    </div>
</div>
