---
layout: default
title: Summer Cybersecurity Courses
permalink: /summer-cybersecurity.html

semester: summer
modality:
track: cybersecurity
---

{% include top_controls.html %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% assign core_sc = site.data.courses.core | where: "semesters","Summer" %}
        {% assign it_sc = site.data.courses.it_electives | where: "semesters","Summer" | where: "track","Cybersecurity" %}
        {% assign non_it_sc = site.data.courses.non_it_electives | where: "semesters","Summer" | where: "track","Cybersecurity" %}
        {% assign capstone_sc = site.data.courses.capstone | where: "semesters","Summer" %}

        {% include course_column.html heading="Core Courses" courses=core_sc %}
        {% include course_column.html heading="Faculty-Approved IT Electives" courses=it_sc %}
        {% include course_column.html heading="Faculty-Approved Non-IT Electives" courses=non_it_sc %}
        {% include course_column.html heading="Capstone/Thesis" courses=capstone_sc %}
    </div>
</div>
