---
layout: default
title: Summer Online Cybersecurity
permalink: /summer-online-cybersecurity.html

semester: summer
modality: online
track: cybersecurity
---

{% include top_controls.html %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% assign core_soco_cyber = site.data.courses.core | where: "semesters","Summer" | where: "modality","Online" %}
        {% assign it_soco_cyber = site.data.courses.it_electives | where: "semesters","Summer" | where: "modality","Online" | where: "track","Cybersecurity" %}
        {% assign non_it_soco_cyber = site.data.courses.non_it_electives | where: "semesters","Summer" | where: "modality","Online" | where: "track","Cybersecurity" %}
        {% assign capstone_soco_cyber = site.data.courses.capstone | where: "semesters","Summer" | where: "modality","Online" %}

        {% include course_column.html heading="Core Courses" courses=core_soco_cyber %}
        {% include course_column.html heading="Faculty-Approved IT Electives" courses=it_soco_cyber %}
        {% include course_column.html heading="Faculty-Approved Non-IT Electives" courses=non_it_soco_cyber %}
        {% include course_column.html heading="Capstone/Thesis" courses=capstone_soco_cyber %}
    </div>
</div>
