<div class="container-fluid my-5">
    <div class="row g-4 align-items-center justify-content-between">
        <div class="col-md-4 d-flex align-items-center">
            <input type="text" class="form-control" placeholder="Search courses..." />
            <button class="btn btn-outline-secondary">🔍</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-secondary">⚙️ Filter</button>
        </div>
        <div class="col-md-2">
            <select class="form-select">
                <option selected disabled>Term</option>
                <option>Summer 2025</option>
                <option>Fall 2025</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-secondary">
                Export ▼
            </button>
        </div>
    </div>
</div>
